@import "../styles/shared";
.containter{
    
    
}
.background{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0, .75);
    backdrop-filter: blur(0.4rem);
    z-index: $zPopupBackground;
}
.pop_window_container{
    position: fixed;
    max-width: $max-width;
    margin: 0 auto;
    top: 0;
    right: $margin-mobile;
    bottom: 0;
    left: $margin-mobile;
    z-index: $zPopupWindow;
    @media #{$media-tablet-portrait}{
        right: $margin-portrait;
        left: $margin-portrait;
    }
}
.pop_window{
    position: absolute;
    top: $margin-mobile; right: 0; left: 0;
    max-height: calc(100vh - #{$margin-mobile});
    padding: 0 $margin-int-mobile $margin-int-mobile $margin-int-mobile;
    overflow-y: auto;
    background-color: white;
    @media only screen and (min-width: 1024px){

    }
    @media #{$media-tablet-portrait}{
        top: $margin-portrait; right: 0; left: auto;
        width: 80%;
        min-width: 70rem;
        // max-width: 102rem;
        max-height: calc(100vh - #{$margin-portrait});
        padding: 0 5.5rem $margin-int-portrait 5.5rem;
    }
    .pop_header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 5.6rem;
        @media #{$media-tablet-portrait}{
            min-height: 8rem;

        }
        .pop_header_title{
            flex: 1;
            padding: 1.9rem 1.9rem 1.9rem 0;
            @extend %font1;
            font-weight: 400;
            line-height: 1.8em;
            font-size: 1rem;
            color: #808080;
            text-transform: uppercase;
            @media #{$media-tablet-portrait}{
                padding: 3.0rem 3.0rem 3.0rem 0;
                font-size: 1.2rem;
            }
        }
        
        .pop_header_close{
            >a{
                display: block;
                transform: scale(0.7);
                margin-right: -#{$margin-int-mobile};
                @media #{$media-tablet-portrait}{
                    margin-right: -#{$margin-int-portrait};
                }
            }
        }
    }
    .pop_content{
        
        >h2{
            padding-bottom: 0.8em;
            @extend %font2_bold;
            line-height: 1.8em;
            font-size: 1.9rem;
            color: black;
            @media #{$media-tablet-portrait}{
                padding-bottom: 0.7em;
                line-height: 1.7em;
                font-size: 2.5rem;
            }
        }
    }
}