@import "../../styles/shared";
.container{
    position: relative;
    padding: $margin-mobile 0;
    a{
        margin-right: $margin-int-mobile;
        margin-bottom: $margin-int-mobile;
        vertical-align: top;
    }
}