@import "../../styles/shared";
.container{
    max-width: 75%;
    margin-top: 1.8em;
    @extend %font2_regular;
    line-height: 1.8em;
    font-size: 1.2rem;
    @media#{$media-tablet-portrait}{
        font-size: 1.3rem;
    }
    >div{
        p{
            margin-bottom: 1.8em;
        }
        strong{
            font-weight: 700;
        }
        a{
            text-decoration: none;
            font-weight: 700;
            color: $color-enlace;
            &:hover{
                text-decoration: underline;
            }
        }
        ul{
            list-style: none;
            margin-bottom: 1.8em;
            margin-left: 1em;
            li::before{
                content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: black; /* Change the color */
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em;
            }
        }
    }
}