@import "../../styles/shared";
.container{
    max-width: 49.2rem;
    margin-top: 1.8em;
    @extend %font2_regular;
    line-height: 1.8em;
    font-size: 1.2rem;
    @media#{$media-tablet-portrait}{
        font-size: 1.3rem;
    }
    >div{
        p{
            margin-bottom: 1.8em;
        }
        strong{
            font-weight: 700;
        }
        a{
            text-decoration: none;
            font-weight: 700;
            color: $color-enlace;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}