@import "../../styles/shared";
a.container{
    display: inline-flex;
    padding: $margin-int-mobile;
    justify-content: space-between;
    align-items: center;
    // min-width: 13.5rem;
    min-height: 4.1rem;
    border: .1rem solid $color-enlace;
    text-decoration: none; 
    span{
        display: block;
        margin-right: $margin-int-mobile;
        line-height: 1em;
        font-size: 1.3rem;
        @extend %font1_light;
        color: $color-enlace;
        text-transform: uppercase;
        transition: transform 0.3s;
    }
    svg{
        height: 1rem;
    }
    &:hover{
        span{
            @media#{$media-tablet-portrait}{
                transform: translateX(.6rem);
            }
        }
    }
}